body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
 
.container {    
    text-align: center;
}
 
.card {
    width: 250px; /* Largura da carta */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px; /* Arredondar os cantos */
    padding: 15px;
    margin: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.2s; /* Transição suave ao passar o mouse */
}
 
.card:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}
 
.card img {
    width: 100%; /* A imagem ocupa toda a largura da carta */
    max-height: 150px; /* Altura máxima da imagem */
    object-fit: cover; /* Ajusta a imagem */
    border-radius: 5px; /* Arredondar a imagem */
}
 
.result {
    margin-top: 20px;
    font-weight: bold;
}